/* ---------------------------------
 *    Article Summary and Content
 * --------------------------------- */
$article-font-size ?= 16px

article
    &.media
        .media-content
            color: $text-light

            .title
                margin: 0
                line-height: inherit

    &.article
        .article-meta, .article-tags
            color: $text-light

        .article-meta
            overflow-x: auto
            margin-bottom: 1rem

        .title
            margin-bottom 0.5rem
            .nav-link
                font-weight unset

        .article-more
            @extend .button.is-light
            background-color: #44B549
            color: white
            height: 2rem
            &:hover
                background-color: #44B549
                color: white

            .famore
                margin-left: 0.5rem


        .content
            word-wrap: break-word
            font-size: $article-font-size
            line-height: 2rem
            margin-bottom: 1rem

            h1
                font-size: 1.75em

            h2
                font-size: 1.5em

            h3
                font-size: 1.25em

            h4
                font-size: 1.125em

            h5
                font-size: 1em

            pre
                font-size: .85em

            code
                padding: 0
                background: transparent
                overflow-wrap: break-word

            blockquote
                &.pullquote
                    float: right
                    max-width: 50%
                    font-size: 1.15rem
                    position: relative

                footer
                    strong + cite
                        margin-left: .5em
            
            .message.message-immersive
                border-radius: 0
                margin: 0 0-($card-content-padding) $card-content-padding 0-($card-content-padding)
                .message-body
                    border: none

            blockquote
                font-size 1rem
                color #828a92
                line-height 1.8rem

            &>p:not(:last-child) {
                margin-bottom 1.5em
            }

            img {
                margin auto
                display block
            }

            .fenjie
                width 35%
                border-top 1px solid #d3d3d3
                margin 5rem auto

        .guanzhushengming
            padding .5rem 0 2rem

        .guanzhuwo
            width 60%
            margin auto
        @media screen and (max-width: 767px)
            .guanzhuwo
                width  100%

        .shengming
            font-size 14px
            border-top 1px solid #e0e0e0
            border-bottom 1px solid #e0e0e0
            padding 1rem 0
            margin 1rem 0
            line-height 1.8
            color #888

            p
                margin-bottom 0

.level-item
    line-height 22px

.rtl
    direction: rtl

    .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: .75rem
                margin-right: 0

.thumbnail
    object-fit: cover
    width: 100% !important
    height: 100% !important

// Overflow table
.table-overflow
    overflow-x: auto

    table
        width: auto !important

        th
            word-break: keep-all

// Video container
.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


@media screen and (min-width: 1280px)
    .column.is-8-widescreen
        width: 100%

#toc
    .card-content
        .menu
            &>ul
                border-left: 1px solid #ddd
                margin-left: 4px
                &>li::before
                    position: relative
                    top: 0
                    left: -4px
                    display: inline-block
                    width: 7px
                    height: 7px
                    content: ''
                    border-radius: 50%
                    background-color: #eb5055

.menu-list li ul
    border: none
    padding: 0
    li
        margin-bottom: .75rem

.menu-list a
    margin-left: .5rem
    margin: -1.1rem 0 0 .5rem
    padding: 0 0 1rem .5rem

.menu-list a.is-active, .menu-list a:hover
    background: none
    color: #eb5055

.column.column-right.is-4-tablet.is-4-desktop.is-4-widescreen.order-3.is-sticky
    position: fixed
    top: 5rem
    right: 9%
    z-index: 100
    width: 240px

.pinglunjuli
    margin-bottom: 5rem!important
@media screen and (max-width: 767px)
    .pinglunjuli
        margin-bottom: 3rem!important

.upyun-logo
    height: 2rem
    max-height: 2rem

.footer
    padding: 1rem 0 1rem
    &>.container
        padding: 0 1rem

.pagination
    padding: 1rem
@media screen and (max-width: 767px)
    .pagination
        padding: 0

.text-blue
    color: #9053B9
    font-weight: bold

/* 类响应式样式 */
.is-hide
    opacity 0
    visibility hidden
    transition .3s ease-out
    
.is-show
    opacity 1
    visibility visible
    transition .3s ease-out

.is-mobile-new
        display none!important

.is-pc
        display flex!important

.section
    margin-top 4rem

.navbar-toggle
    position fixed
    background white
    width 100%
    
.navbar-toggle-hide
    transform translateY(-100px)!important
    transition .3s ease-out

.navbar-toggle-show
    transform translateY(0px)!important
    transition .3s ease-out

.title-index
    font-size 22px
    color #24292e
    overflow hidden
    line-height 1.8rem
    text-overflow ellipsis
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    display -webkit-inline-box
    &:hover
        color: #3273dc

.context-title
    height auto
    margin-bottom 1rem
    line-height 2.2rem
    font-size 24px!important

.article-meta-context
    margin 1rem 0 2rem 0!important

.level-left-toggle
    font-size 15px


/* 首页改造 */
.card-index
    width 24%
    height 22rem
    float left
    margin 0 1.333% 1rem 0
    background #f5f5f5
    overflow hidden
    &:nth-child(4n)
        margin-right 0

.card-context
    width 71%
    margin auto

.card-image
    padding 0
    height 9.28rem
    border-radius 4px 4px 0 0
    overflow hidden
    width 100%

.card-image-context
    height 28rem
    padding 0 1.5rem
    img
        height auto !important
    
.image-pic
    height 100%
    border-radius 4px 4px 0 0
    display block
    overflow hidden

.card-content-index
    padding 0.8rem!important
    background #f5f5f5
    border-radius 0 0 4px 4px

.content-index
    line-height 1rem
    margin-bottom 2rem
    overflow hidden
    text-overflow ellipsis
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    display -webkit-inline-box

.card-content-context
    padding 0 1.5rem 1.5rem

.time-index
    float right
    color #999
    margin-bottom 0!important

.categories-index
    float left
    color #999
    margin-right 1rem

.card-comment
    width 680px
    margin auto
    margin-top unset

.footer-width
    width 960
    margin auto
    margin-top 4rem

.pagination
    clear both

.recommend-list
    &>ul
        margin 0
        li
            list-style none
            background #eef3fc
            border-radius 10px
            overflow hidden
            padding 1rem
            margin-bottom 1rem
            cursor pointer
            position relative
            min-height 90px
            &>a:first-child
                float left
                width 73%
                text-decoration none
                &>span:first-child
                    width 100%
                    color #444
                    font-weight bold
                    display inline-block
                    line-height 1.6rem
                    font-size 16px
                &>span:last-child
                    width 100%
                    color #777
                    font-size 14px
                    line-height 1rem
                    position absolute
                    left 1rem
                    bottom 1rem
            &>a:last-child
                &>img
                    max-width 24%
                    height 60px
                    border-radius 6px
                    float right

.light-hide
    opacity 0

.light-show
    left 100%!important
    opacity 1
    transition .5s ease-out

.light-move
    background linear-gradient(120deg, rgba(255,255,255,0) 50px, rgba(255,255,255,1) 135px, rgba(255,255,255,0) 200px)
    background-repeat no-repeat
    width 100%
    height 100%
    position absolute
    left -100%
    bottom 0
    z-index 9
    opacity .5

// 首页card滑过效果
.card-image-index-slide
    height 8rem
    transition .3s ease-out
.card-image-index-inslide
    transition .3s ease-out

.title-index-slide
    margin-bottom 0.5rem!important
    transition .3s ease-out
.title-index-inslide
    margin-bottom 0.5rem
    transition .3s ease-out
    
.content-index-slide
    margin 0.5rem 0 1.5rem 0!important
    transition .3s ease-out
.content-index-inslide
    margin 0 0 1rem 0!important
    transition .3s ease-out

.description-text
    background none
    padding 0
    border none
    line-height 1.8rem
    color #828a92
    font-size 14px
    position relative
    .text
        padding 0 .5rem 0 1.5rem
    &>i
        color #e1e1e1
    &>.fa-quote-left
        position absolute
        top -.5rem

.hbe-button
    margin-top 2rem

.encrypt-tip
    color #828a92
    font-size 14px!important
    &:before
        content '密'
        background #ff0000
        width 50px
        height 50px
        display block
        border-radius 100%
        line-height 72px
        text-indent 10px
        position absolute
        top -25px
        right -20px
        color white
        font-size 16px
        font-weight bold

.hbe-lock
    margin-right .5rem
    color #828a92

.yuanchuang
    /* background #f0eef0 */
    border-radius 3px
    padding 0.1rem 0.5rem 0
    line-height 20px
    background #cecece
    color white
    font-size 12px

.categories-list
    background #f7f7f7
    border-radius 8px
    margin 0 0 2rem 0
    height 5rem
    font-size 15px
    .categories-left
        float left
        color #999
        margin 0.2rem 0 0.4rem 0
        padding .5rem 0 0 1.2rem
        span:first-child
            margin-bottom .3rem
            display inline-block
        span:last-child
            color #3273dc
    .categories-right
        float right
        color #999
        i
            padding 1.72rem 1.2rem

.info-line
    overflow hidden
    .info-line-image
        display none
.is-pc-only
    display block

.index-info
    overflow hidden

#more::after
    content ''
    display block
    margin-bottom 2rem

.menu-label
    padding 4px 0 4px 8px
    border-radius 4px
    color white
    background #5CB85C