/* ---------------------------------
 *    Article Summary and Content
 * --------------------------------- */
$article-font-size ?= 16px

.container
    text-align unset

a:hover, .link-muted .level-item:hover
    color #3273dc

article
    &.media
        .media-content
            color: $text-light

            .title
                margin: 0
                line-height: inherit

    &.article
        .article-meta, .article-tags
            color: $text-light

        .article-tags
            margin-top 2.5rem

        .article-meta
            overflow-x: auto
            margin-bottom: 1rem

        .title
            .nav-link
                font-weight unset

        .article-more
            @extend .button.is-light
            background-color: #44B549
            color: white
            height: 2rem
            &:hover
                background-color: #44B549
                color: white

            .famore
                margin-left: 0.5rem


        .content
            word-wrap: break-word
            font-size: $article-font-size
            line-height: 2rem
            margin-bottom: 1rem

            h1
                font-size: 1.75em

            h2
                font-size: 1.5em

            h3
                font-size: 1.25em

            h4
                font-size: 1.125em

            h5
                font-size: 1em

            pre
                font-size: .85em

            code
                padding: 0
                background: transparent
                overflow-wrap: break-word

            blockquote
                font-size 1rem
                color #828a92
                line-height 1.8rem
                border none
                padding .6rem 1.2rem
                background #f6f6f6
                &.pullquote
                    float: right
                    max-width: 50%
                    font-size: 1.15rem
                    position: relative

                footer
                    strong + cite
                        margin-left: .5em
            
            .message.message-immersive
                border-radius: 0
                margin: 0 0-($card-content-padding) $card-content-padding 0-($card-content-padding)
                .message-body
                    border: none

            &>p:not(:last-child) {
                margin-bottom 1.5em
            }

            img
                max-width 100%
                margin auto
                display block

            .fenjie::after
            	content ''
            	display block
            	width 35%
            	height 1px
            	margin 5rem auto
            	background #d3d3d3

            strong
                color #212121

        .guanzhuwo
            width 60%
            margin auto

        .shengming
            font-size 14px
            padding 1rem 0
            line-height 1.8
            color #a1a1a1
            &::before, &::after
                content ''
                display block
                height 1px
                background #e0e0e0
                margin-bottom 1rem
            &::after
                margin-top 1rem

            p
                margin-bottom 0

.level-item
    color #8d8d8d
    font-size 14px

.rtl
    direction: rtl

    .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: .75rem
                margin-right: 0

.thumbnail
    object-fit: cover
    width: 100% !important
    height: 100% !important

// Overflow table
.table-overflow
    overflow-x: auto

    table
        width: auto !important

        th
            word-break: keep-all

// Video container
.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


@media screen and (min-width: 1280px)
    .column.is-8-widescreen
        width: 100%

#toc
    .card-content
        .menu
            &>ul
                border-left: 1px solid #ddd
                margin-left: 4px
                &>li::before
                    position: relative
                    top: 0
                    left: -4px
                    display: inline-block
                    width: 7px
                    height: 7px
                    content: ''
                    border-radius: 50%
                    background-color: #eb5055

.menu-list li ul
    border: none
    padding: 0
    li
        margin-bottom: .75rem

.menu-list a
    margin-left: .5rem
    margin: -1.1rem 0 0 .5rem
    padding: 0 0 1rem .5rem

.menu-list a.is-active, .menu-list a:hover
    background: none
    color: #eb5055

.column.column-right.is-4-tablet.is-4-desktop.is-4-widescreen.order-3.is-sticky
    position: fixed
    top: 5rem
    right: 9%
    z-index: 10
    width: 240px

.pinglunjuli
    margin-bottom: 5rem!important
@media screen and (max-width: 767px)
    .pinglunjuli
        margin-bottom: 3rem!important

.upyun-logo
    height: 2rem
    max-height: 2rem

.footer
    padding: 1rem 0 1rem
    &>.container
        padding: 0

.pagination
    padding: 1rem
@media screen and (max-width: 767px)
    .pagination
        padding: 0

.text-blue
    color: #9053B9
    font-weight: bold

/* 类响应式样式 */
.is-hide
    opacity 0!important
    visibility hidden!important
    transition .3s ease-out

.is-hide-move
    width 0
    transform scale(.96)
    transition .35s ease-out
    
.is-show
    opacity 1!important
    visibility visible!important
    transition .3s ease-out

.is-show-move
    width auto
    transform scale(1)
    transition .35s ease-out

.is-mobile-new
        display none!important

.is-pc
        display flex!important

.section
    margin-top 4rem

.navbar-toggle
    position fixed
    background white
    width 100%
    
.navbar-toggle-hide
    transform translateY(-100px)!important
    transition .3s ease-out

.navbar-toggle-show
    transform translateY(0px)!important
    transition .3s ease-out

.title-index
    height 3.5rem
    font-size 16px!important
    color #24292e
    overflow hidden
    /* line-height 1.8rem */
    line-height 25px
    margin-bottom 1rem!important
    text-overflow ellipsis
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    display -webkit-inline-box
    &:hover, &>a:hover
        color #24292e!important

.context-title
    height auto
    line-height 1.5
    font-size 32px!important
    font-family: FZLTZCHJT
    font-weight bold

.article-meta-context
    margin 1rem 0 2rem 0!important

.level-left-toggle
    font-size 15px


/* 首页改造 */
.card-index
    width 24%
    height 22rem
    float left
    margin 0 1.333% 1rem 0
    overflow hidden
    &:nth-child(4n)
        margin-right 0

.card-context
    /* width 71% */
    width 67.8%
    margin auto

.card-image
    padding 0
    border-radius 6px 6px 0 0
    overflow hidden
    width 100%

.card-image-context
    padding 0 1.6rem 0 1.6rem
    margin-bottom 2rem
    .image-pic img
        border-radius 6px
        height auto!important
    
.image-pic
    height 100%
    display block
    overflow hidden

.card-content-index
    padding 0.8rem!important
    /* background #f9f6f9 */
    background #f4f4f4
    border-radius 0 0 6px 6px

.content-index
    line-height 1rem
    margin-bottom 2rem
    overflow hidden
    text-overflow ellipsis
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    display -webkit-inline-box

.card-content-context
    padding 0.5rem 1.5rem 1.5rem

.time-index
    float right
    margin-bottom 0!important

.categories-index
    float left
    margin-right 1rem

.card-comment
    width 680px
    margin auto
    margin-top unset

.footer-width
    margin-top 4rem

.pagination
    clear both

.recommend-list
    &>ul
        margin 0
        li
            list-style none
            background #eef3fc
            border-radius 10px
            overflow hidden
            padding 1rem
            margin-bottom 1rem
            cursor pointer
            position relative
            min-height 90px
            &>a:first-child
                float left
                width 73%
                text-decoration none
                &>span:first-child
                    width 100%
                    color #353535
                    font-weight bold
                    display inline-block
                    line-height 1.6rem
                    font-size 16px
                &>span:last-child
                    width 100%
                    color #939393
                    font-size 14px
                    line-height 1rem
                    float left
            &>a:last-child
            	img
	                max-width 24%
	                height 60px
	                border-radius 6px
	                float right

.light-hide
    opacity 0

.light-show
    left 100%!important
    opacity 1
    transition .5s ease-out

.light-move
    background linear-gradient(120deg, rgba(255,255,255,0) 50px, rgba(255,255,255,1) 135px, rgba(255,255,255,0) 200px)
    background-repeat no-repeat
    width 100%
    height 100%
    position absolute
    left -100%
    bottom 0
    z-index 9
    opacity .5

// 首页card滑过效果
.card-image-index
	height 9.822rem
	transition .3s ease-out
.card-image-index-slide
    height 8.5rem
    transition .3s ease-out
.card-image-index-inslide
	height 9.822rem
    transition .3s ease-out

.title-index-slide
    transition .3s ease-out
    margin-bottom 0.5rem!important
.title-index-inslide
    margin-bottom 0.5rem
    transition .3s ease-out
    
.content-index-slide
    margin .9rem 0 0 0!important
    transition .3s ease-out
.content-index-inslide
    margin 0!important
    transition .3s ease-out

.index-info-slide
    margin 1.5rem 0 .2rem
    transition .3s ease-out
.index-info-inslide
    margin 0
    transition .3s ease-out

.description
    background none
    padding 0 .5rem
    line-height 1.6rem
    /* color #828a92 */
    color #ababab
    font-size 14px
    position relative
    border-left 5px solid #e0e0e0
    .text
        padding 0 .5rem 0 1.5rem
    &>i
        color #e1e1e1
    &>.fa-quote-left
        position absolute
        top -.5rem

#cur-article .description
    display none

.hbe-button
    margin-top 2rem

.encrypt-tip
    color #828a92
    font-size 14px!important
    &::before
        content '密'
        background #ff0000
        width 50px
        height 50px
        display block
        border-radius 100%
        line-height 72px
        text-indent 10px
        position absolute
        top -25px
        right -20px
        color white
        font-size 16px
        font-weight bold

.hbe-lock
    margin-right .5rem
    color #828a92

.yuanchuang
    /* background #f0eef0 */
    border-radius 3px
    padding 0 0.5rem 0
    line-height 21px
    background #cecece
    color white
    font-size 12px

.categories-list
    background #f7f7f7
    border-radius 8px
    margin 0 0 2rem 0
    height 5rem
    font-size 15px
    .categories-left
        float left
        color #999
        margin 0.2rem 0 0.4rem 0
        padding .5rem 0 0 1.2rem
        span:first-child
            margin-bottom .3rem
            display inline-block
        span:last-child
            color #3273dc
            font-size 15px
    .categories-right
        float right
        color #999
        i
            padding 1.72rem 1.2rem

.info-line
    height 4.6rem
    overflow hidden
    .info-line-image
        display none
.is-pc-only
    display block

.index-info
    overflow hidden

#more::after
    content ''
    display block
    margin-bottom 2rem

.column-right .menu-label
    border-radius 4px
    color white
    background #5CB85C
    line-height 30px
    text-indent 8px

.tagname
    background #f0f0f0
    color #ababab
    padding 0 12px
    height 24px
    line-height 25px
    display inline-block
    border-radius 12px
    margin .2rem 0

.gz-qrcode
    padding 19px 12px
    width 38px
    height 100%
    cursor pointer
    &:hover
        background #fafafa
        &>i
            color #3273DC

.gz-qrcode-img
    position absolute
    width 20rem
    top 3.5rem
    right 0
    z-index 11
    opacity 0
    visibility hidden
    transition .3s ease-out
.gz-qrcode-img-show
    top 4.5rem
    opacity 1
    visibility visible
    transition .3s ease-out

.back-all
    width 100%
    height 100%
    background rgba(0, 0, 0, .7)
    position fixed
    top 0
    bottom 0
    left 0
    z-index 11

.navbar-main .container .navbar-menu
    margin-right -2.4rem!important

.mobile-qrcode
    display none

.gzgzh-main
    opacity 0
    visibility hidden

.image.is-7by3
	padding-top 0
	img
		position unset

.lg-close
	margin-right 38%

.article-video
    width 100%
    max-height 400px
    object-fit fill
    overflow hidden
    video
        width 100%
        max-height inherit
        background #f8f9fa

.gallery-item .caption
    line-height 1.6