/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: $card-radius

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius
        padding: 0 1rem 1.5rem

    .card-image:empty
        padding: 0

    .media + .media
        border: none
        margin-top: 0

    .card-content
        /*padding: 1.5rem 0 2rem 0*/
        padding: 0 1rem 1.5rem

    @media screen and (max-width: 767px)
      .card-content
        /*padding 0.9rem*/
        padding .8rem

        p
            img
                    margin: 0 -1.8rem!important
                    max-width: 115.4%