/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container, .is-2-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap

+fullhd()
    .is-2-column .container
        max-width: $widescreen - 2 * $gap
        width: $widescreen - 2 * $gap

    .is-1-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .section
        /*padding: 1.5rem 1rem*/
        padding: 0 1rem 1.5rem

    article
        &.article
            .content
                font-size 17px
                line-height 2.2rem
                blockquote
                    font-size 1.1rem

    .card
        .card-content
            .menu-label
                font-size 1.1rem
            article.media
                .media-content
                    .title.is-6
                        font-size 1.1rem
            .level-left
                font-size 1rem
                    
    .size-small
        font-size 1rem
