/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container, .is-2-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap

+fullhd()
    .is-2-column .container
        max-width: $widescreen - 2 * $gap
        width: $widescreen - 2 * $gap

    .is-1-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .column
        padding .75rem 1.75rem
        .card-content
            .menu
                padding 1rem

    .section
        padding 0 .8rem
        margin-top 5rem!important
        width 100%

    article
        &.article
            .article-meta
                margin 0.8rem 0 2rem
            .article-meta-context
                margin-top 1rem!important
            .content
                font-size 17.4px
                line-height 2.35rem
                color #3b3b3b
                blockquote
                    font-size 1.1rem

    .card
        .card-image:empty
            /* padding 0 0 1rem */
            padding 0

        .card-content
            padding 0
            margin 0
            background white
            .menu-label
                font-size 1.1rem
            article.media
                .media-content
                    .title.is-6
                        font-size 1.1rem
            .level-left
                font-size 1rem

            .level-left-toggle
                font-size 14px!important

            .title
                height auto
                line-height 1.5
                .nav-link
                    /*line-height 1.125*/
                    line-height 1.5
                    display inline-block
                    font-size 1.25rem!important
                    font-weight bold

    .card + .card, .card + .column-right-shadow
        margin-top 1rem
                    
    .size-small
        font-size 1rem

    .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child), .box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child)
        margin-bottom .6rem

    .pagination
        margin .5rem

    .is-hidden-mobile
        display block!important

    .pagination-list li
        float left

    /* 移动端导航栏 */
    .is-mobile-new
        display flex!important

    .is-pc
        display none!important

    .is-top
        margin-top 0rem!important
        transition .3s ease-out

    .is-totop
        margin-top 1rem!important
        transition .3s ease-out

    .nav-line
        width 30px
        height 2px
        background #2c97e8
        position absolute
        right .95rem

    .nav-line:first-child
        top 1.05rem

    .nav-line:last-child
        top 1.75rem

    .rotate-line-first
        transform rotateZ(-45deg)
        transform-origin 68% 50%
        transition .3s ease-out

    .rotate-line-last
        transform rotateZ(45deg)
        transform-origin 78% 50%
        transition .3s ease-out

    .back-origin
        transform rotateZ(0deg)
        transition .3s ease-out

    .navbar-end-new
        position absolute!important
        right 1rem!important
        top .5rem

    .navbar-start-new
        flex-direction column!important
        width 100%!important
        position fixed!important
        left 0!important
        background white!important
        /* box-shadow 0 1px 5px rgba(0, 0, 0, .1) */
        padding-top 1rem!important

    .navbar-item
        padding 1.25rem 0.15rem!important

    .navbar-item-new
        border-bottom 1px solid #eee!important
        width 100%
        padding 1.25rem 1.8rem!important

    .justify-content-center
        justify-content left!important

    .search-container
        padding 0.15rem 0 0 0
        background #f5f5f5
        margin 1rem 1.8rem 0
        border-radius 60px
        &>.search
            padding-left 1.3rem

    .nav-list
        width 52px
        height 40px
        border none!important
        margin-top .2rem!important

    .search-icon
        /* color #2c97e8 */
        color #888

    .search-text, .search-text-long
        margin-left 0.5rem
        display inline-block
        color #999
        padding 1rem

    .search-text
        width 72%

    .search-text-long
        width 87%

    .btn-menu
        display inline-block!important
        padding .5rem 1.2rem!important

    .card-index
        width 100%!important
        float unset
        height auto
        background white
        border-radius unset
        /* border-bottom 1px solid #f5f5f5 */
        &::after
           content ''
           display block
           height 1px
           background #f5f5f5 

    .card-index:last-child
        border none

    .card-context
        width 100%!important

    .card-image-index
        border-radius 4px 4px 0 0
        height auto

    .card-image-context
        height 16rem!important
        padding 0 0rem 1rem
        img
            height auto!important

    .context-title
        height auto
        overflow unset
        height auto
        overflow unset
        line-height 1.8rem
        font-size 32px!important
        font-weight bold
        &:hover
            color: #24292e

    .content-index
        margin-bottom .5rem!important

    .card-comment, .footer-width
        width 100%

    .navbar-brand
        margin-left 0rem!important

    .navbar-menu
        margin-right -.75rem!important

    .info-line
        height auto
        .info-line-content
            width 60%
            margin-right 5%
            float left
        .info-line-image
            max-width 35%
            height 72px
            float right
            display block
    
    .is-pc-only
        display none

    .level-item:not(:last-child)
        margin-bottom .5rem

    .time-index
        float left

    .image-pic
        border-radius 6px

    .card-content-index
        padding 0rem 0rem 0.8rem!important

    .gz-qrcode, .gz-qrcode-img
        display none

    .level-end
        margin-top 0.5rem
